build/
bin/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
.idea/
.vscode/
.vs/

src/config.h
config.h

.cproject
.project
.settings/
CMakeCache.txt
CMakeFiles/

.fuse_hidden*

vcpkg/

.clangd/

compile_commands.json

*blend1